<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="/css/master.css">
    </head>
    <body>
        <div class="page-container">
                @RenderBody()
        </div>
    </body>
</html>
