@model IEnumerable<GummiBearKingdom.Models.Product>

@{
    ViewData["Title"] = "Gummi Bear Kingdom - Products";
    Layout = "_Layout";
}

<h2>Products</h2>
<p>A list of products...instructions here</p>

<ul>
    @foreach(var listProduct in Model)
    {
        <li>@Html.DisplayFor(listPrduct => listProduct.Name)</li>
    }


</ul>
